/*
 *
 * Commmun
 *
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
  /*border: 1px solid red !important;*/
}

img, object, video {
  max-width: 100%;
  height: auto;
}


body {
  font-size: 16px;
  line-height: 1.2em;
}


/*
 *
 * Header
 *
 */

.header {
  margin: 10px auto;
}


/*
 *
 * Top Level Navigation
 *
 */

/* word MENU on small nav bar*/
.word_menu { /*copied from bootstrap .nav-brand, only float modified, initially it was left*/
  float: right;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color:#777;
  margin-bottom: 0;
}

.navbar-toggle { /*here we modify this Bootstrap class -> +padding and -margins, to enlarge the click zone of the button*/
  padding: 13px 11px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/**/



.proc1 {
  max-width: 100%;
  margin:0;
  padding:0;
}


/*
 *
 *Content in small devices
 *
 */

.procedures-two-types-container {
  flex-grow:1;
  clear: both; /*this seems to do nothing*/
  /*padding: 1em; i took this off because it push the box and i want it alligned with the carrussel*/
}

.procedures-two-types-container ul {
  list-style: none;
}


.procedures-two-types-list {
  margin-top: -10px;
}


.procedures-two-types {
  clear: both;
  margin: 24px 0;
}


.procedures-two-types-main-title {
  color: #337ab7;
  margin-bottom:0;
}


.procedures-two-types-picture {
  width: 100px;
  float: left;
  /*margin-right: 0.25em;*/
}


.procedures-two-types-title {
  font-weight: 500;
  text-align: left;
}


.procedures-two-types-title a {
  text-decoration: none; /*this seems to do nothing*/
  color: #337ab7;
  /*padding: 1.5em inherit;*//*i took off this padding because it makes th firs word to move to the right and is not beautiful*/
}

.procedures-two-types-title a:hover,
.procedures-two-types-title a:active {
  text-decoration: underline;
}


/*From here FINAL CSS style from the course. i erased the .snippet_title style because i dont have that title*/

.procedures-two-types-picture a img {
  width: 100%;
}

.procedures-two-types {
  display: flex;
  flex-wrap: wrap;
}


.procedures-two-types-picture {
  order: 1;
  width: 30%;
}

.procedures-two-types-title {
  order: 2;
  width: 65%;
  margin: 0;
  padding: 0 0 0 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}






