/*
 *
 * Commmun
 *
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
  /*border: 1px solid red !important;*/
}

/*
 *
 * Content for Big devices
 *
 */

.text-welcome {
  /*float: right;*/
}


/*****Procedimientos frecuentes  -> here now just for test later i'll put it down******/
.main-title-proced-frec {
  margin-bottom: 15px;
}

.container-each-proced-frec {
  padding-bottom: 10px;
}


.text-proced-frec ul {
  list-style: none;
  margin: 0 0 0 15px;
  padding:0;
}


.text-proced-frec ul li {
  margin-bottom: 2px;
}


.title-proced-frec {
  margin-top: 0;
  margin-bottom: 0;
}

/*end procedures ***/



img, object, video {
  max-width: 100%;
  height: auto;
}


body {
  font-size: 16px;
  line-height: 1.2em;
}


/*
 *
 * Header
 *
 */

.header {
  margin: 10px auto;
}


.logo-dr,
.logo-subtitle-sccp {
  margin: 0;
  padding: 0;
}


.text-sccp,
.logo-subtitle-sccp {
  text-align: right;
}


.text-sccp {
  margin-top:25px;
  padding:auto;
}


.logo-subtitle-sccp {
  float:right;
  max-width: 100px;
}

/*
 *
 * Top Level Navigation
 *
 */

/* word MENU on small nav bar*/
.word_menu { /*copied from bootstrap .nav-brand, only float modified, initially it was left*/
  float: right;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color:#777;
  margin-bottom: 0;
}

.navbar-toggle { /*here we modify this Bootstrap class -> +padding and -margins, to enlarge the click zone of the button*/
  padding: 13px 11px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/**/


/*
 *
 *Content in small devices
 *
 */

.procedures-two-types-container {
  flex-grow:1;
  clear: both; /*this seems to do nothing*/
  /*padding: 1em; i took this off because it push the box and i want it alligned with the carrussel*/
}


.procedures-two-types-list {
  margin-top: -10px;
  list-style: none;
}


.procedures-two-types {
  clear: both;
  margin: 24px 0;
}


.procedures-two-types-main-title {
  color: #337ab7;
  margin-bottom:0;
}


.procedures-two-types-picture {
  width: 100px;
  float: left;
  /*margin-right: 0.25em;*/
}


.procedures-two-types-title {
  font-weight: 500;
  text-align: left;
}


.procedures-two-types-title a {
  text-decoration: none; /*this seems to do nothing*/
  color: #337ab7;
  /*padding: 1.5em inherit;*//*i took off this padding because it makes th firs word to move to the right and is not beautiful*/
}

.procedures-two-types-title a:hover,
.procedures-two-types-title a:active {
  text-decoration: underline;
}


/*From here FINAL CSS style from the course. i erased the .snippet_title style because i dont have that title*/

.procedures-two-types-picture a img {
  width: 100%;
}

.procedures-two-types {
  display: flex;
  flex-wrap: wrap;
}


.procedures-two-types-picture {
  order: 1;
  width: 30%;
}

.procedures-two-types-title {
  order: 2;
  width: 65%;
  margin: 0;
  padding: 0 0 0 0.75em;
}


/*____________________FOOTER__________________*/

.footer {
  margin-top: 30px;
  background-color: #e7e7e7;
  border-radius: 4px;
  border: 1px solid grey;
}


.footer-title{
  border-bottom: 1px solid black;
}


.footer-title h3{
  margin-top: 5px;
  margin-bottom: 5px;
}


.footer-content {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 0;
}

.footer-contact-detail {
  padding-left: 10px;
  /*padding-bottom: 40px;*/
}

.rafa {
  padding-left: 10px;
}



/*____________________PAGE "ACERCA"__________________*/
/*____________________________________________________*/

.photo-rafa {
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}


.maintitle-estudiosyesp {
  margin-top: 40px;
  margin-bottom: -40px;
}


.row-estudiosyesp {
  margin-top: 30px;
}


.title-estudiosyesp {
  border-bottom: 1px solid black;
}



