/************MINOR BREAK POINT****************/

@media screen and (max-width: 250px) {
	
	.carousel-caption{
		font-size: 10px;
	}


	.procedures-two-types-main-title{
		font-size: 18px;
	}


	.procedures-two-types-title {
		font-size: 16px;
	}
}


/************MINOR BREAK POINT****************/

@media screen and (max-width: 350px) {

	.procedures-two-types-title {
		font-size: 22px;
	}
}

/************MINOR BREAK POINT****************/

@media screen and (min-width: 480px) {

	.procedures-two-types-main-title{
		font-size: 44px;
		margin-top: 30px;
	}


	.procedures-two-types-title {
		font-size: 34px;
	}
}


/*______________MAJORS BREAK POINT__________________*/


@media screen and (min-width: 768px) {
	#carousel-example-generic {
	  /*width:45%;*/
	  /*max-height: 300px;*/
	  /*display: inline-block;*/
	}
	
	/*code to delete the space at the left of the "Portada" item in the navbar*/
	.container-fluid,
	.navbar-collapse {
	  padding-left: 0!important;
	}
}



/*____________________PAGE "PROCEDIMIENTOS"__________________*/
/*____________________________________________________*/

@media screen and (min-width: 768px) {
	.proced-esteticos {
	  min-height: 719px;
	}


	.proced-reconstructivos {
	  min-height: 293px;
	}
}






