/************MINOR BREAK POINT****************/

@media screen and (max-width: 250px) {
	
	.carousel-caption{
		font-size: 10px;
	}


	.procedures-two-types-main-title{
		font-size: 18px;
	}


	.procedures-two-types-title {
		font-size: 16px;
	}
}


/************MINOR BREAK POINT****************/

@media screen and (max-width: 350px) {

	.procedures-two-types-title {
		font-size: 22px;
	}
}

/************MINOR BREAK POINT****************/

@media screen and (min-width: 480px) {

	.procedures-two-types-main-title{
		font-size: 44px;
		margin-top: 30px;
	}


	.procedures-two-types-title {
		font-size: 34px;
	}
}